/*dark mode*/
.dark {
  background: linear-gradient(to right, #2b5876, var(--COLOR-PRIMARY-XXDARK));
  color: var(--COLOR-OFFWHITE);
  transition: all 0.3s ease-in;
}

.dark .colored-txt {
  color: var(--COLOR-PRIMARY-XLIGHT);
}

.dark .colored-txt.bg::after,
.dark .colored-bg::after,
.dark .bg::before {
  background: var(--COLOR-PRIMARY-TRANS);
}

.dark-mode {
  height: 3rem;
  width: 3rem;
}

.dark .dark-mode {
  background: var(--COLOR-PRIMARY-XLIGHT);
}

.dark .card {
  background: var(--COLOR-PRIMARY-XXXDARK);
}
.dark .primary-btn {
  background: var(--COLOR-PRIMARY-DARK);
  color: var(--COLOR-COMPLEMENTARY-LIGHT);
}

.dark .box-shd {
  box-shadow: 0.2rem 0.2rem 2.5rem var(--COLOR-GREY-TRANS);
}

.dark .disabled-ip {
  background: var(--COLOR-OFFWHITE);
}

.dark sub,
.dark label,
.dark .h6,
.dark small,
.dark .sidebar-item {
  color: var(--COLOR-OFFWHITE);
}

.dark .primary-icon-btn,
.dark .card-icon-btn {
  color: var(--COLOR-COMPLEMENTARY-LIGHT);
}

.dark .side-bar {
  background-color: var(--COLOR-PRIMARY-XXDARK);
}

.dark .box-style,
.dark .card-icon-btn:hover {
  color: var(--COLOR-PRIMARY-DARK);
}

.dark .close-btn:hover {
  color: var(--RED);
  background: var(--RED-LIGHT);
}

.dark .site-header::after {
  background: transparent;
}

.dark .sidebar-item:hover {
  background: var(--COLOR-PRIMARY);
}

.dark .colored-container {
  background: var(--COLOR-PRIMARY-MID);
}

.dark .active-sidebar {
  background: var(--COLOR-PRIMARY-TRANS);
}

.dark .active-sidebar:hover {
  background: var(--COLOR-PRIMARY-DARK);
}

.dark .docs-hamburger:hover {
  color: var(--COLOR-OFFWHITE);
}

.dark-mode::before {
  content: "\f186";
  font-family: "FontAwesome";
  color: white;
}

.dark .primary-outline-btn {
  border: 0.2rem solid var(--COLOR-PRIMARY-DARK);
  color: var(--COLOR-PRIMARY-DARK);
  background: var(--COLOR-COMPLEMENTARY-LIGHT);
}

.dark .dark-mode::before {
  content: "\f185";
  font-family: "FontAwesome";
  color: var(--COLOR-PRIMARY-XXDARK);
}
