@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap");
#logo {
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 3rem;
}

#logo > * {
  font-family: "Lato", sans-serif;
  color: var(--COLOR-COMPLEMENTARY-LIGHT);
}

.lg-text {
  font-size: 5rem;
}

.lg-text.bg::before {
  width: 84%;
  height: 3rem;
}

.bg:before {
  width: 94%;
}

.text-stroke {
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.25rem;
}

.txt-shd {
  text-shadow: 0.2rem 0.2rem 0.2rem var(--COLOR-GREY-DARK);
}

code {
  font-family: "Inconsolata", monospace;
  background: var(--COLOR-COMPLEMENTARY-LIGHT);
  color: var(--COLOR-PRIMARY-DARK);
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: inherit;
  font-weight: 600;
}

.colored-bg {
  position: relative;
}

.colored-bg::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 2rem;
  bottom: 4%;
  left: 0;
  background: var(--COLOR-COMPLEMENTARY-LIGHT);
  z-index: -1;
}
