/* UTILS */
@import url("./utils/fonts.css");
@import url("./utils/lists.css");
@import url("./utils/img.css");
@import url("./utils/grid.css");
@import url("./utils/gutter.css");
@import url("./utils/size.css");

/* COMPONENTS */
@import url("./components/nav.css");
@import url("./components/blob.css");
@import url("./components/header.css");
@import url("./components/button.css");
@import url("./components/container.css");
@import url("./components/side-bar.css");
@import url("./components/footer.css");

:root {
  --COLOR-PRIMARY-TRANS: #2a37f0a9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  width: 90%;
  min-height: 80vh;
  line-height: 2.5rem;
  animation: opening 0.5s ease-in forwards;
}

.copy-to-clipboard-button:hover {
  cursor: pointer;
}

.code-snipet {
  width: 100% !important;
  overflow: scroll !important;
}

.cursor {
  cursor: pointer;
}

/* animations */
@keyframes opening {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (max-width: 900px) {
  .code-snipet {
    width: 80% !important;
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 55%;
  }
}